<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="3.5" DefaultTargets="Build" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  
  <PropertyGroup Condition=" '$(Configuration)' == 'Debug' ">    
    <SitecoreWebUrl>http://habitat.dev.local</SitecoreWebUrl>
    <SitecoreDeployFolder>C:\inetpub\wwwroot\habitat.dev.local</SitecoreDeployFolder>
    <RecursiveDeployAction>Ignore</RecursiveDeployAction>
    <InstallSitecoreConnector>True</InstallSitecoreConnector>
    <SitecoreAccessGuid>8e33a717-a20d-4198-9236-1298c8220790</SitecoreAccessGuid>
    <LightningDeployMode>True</LightningDeployMode>
  </PropertyGroup>
  
  <PropertyGroup Condition=" '$(Configuration)' == 'Release' ">   
  </PropertyGroup>
  
</Project>
