<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">Sitecore Solr Edismax Demo</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/search-results?q=sitecore">Search</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/predictive-search-results?q=sit">Predictive Search</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/blog-feed-borrower">Blog Feed Borrower</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Sitecore">Admin</a>
            </li>
        </ul>
    </div>
</nav>